header {
  position: relative;  
  z-index: 1;
}

main {
  height: 100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#map{
  height: 100%; 
  width: 100%; 
  position: absolute; 
  top: 7%; 
  left: 0; 
  z-index: 0;

}

#photogallery {
  text-align: center;
}

.btn-search {
  background: transparent;
  border: none !important;
  font-size: 0;
  margin: 0px !important;
  padding: 0px !important;
}

.menu {
  z-index: 1;
  min-width: 400px;
}